* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: whitesmoke;
    color: black;
    padding: 40px;
}
header, section, footer {
    background: white;
    padding: 20px;
    margin: 10px 0;
}

header {
    background: GREEN;
    color: white;
    text-align: center;
}
nav {
    background: black;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

form input, form textarea, form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

form button {
    background: greem;
    color: white;
    border: none;
    cursor: pointer;
}
section #about img {
    display: block;
    margin: 10px auto;
    border-radius: 50%;
}





